* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 239, 98);
}

.encabezado {
    background-image: url(../imagenes/Harry_Potter_fondo\ wordmark.svg.png);
    background-color: rgb(355, 239, 98);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem;
    height: 25vh;
  

}

.MenuSuperior {
    list-style: none;
    text-align: center;
}

.MenuSuperior li {
    display: inline-block;
}

.MenuSuperior a {
    text-decoration: none;
    color: rgb(255, 90, 85);
    font-weight: 700;
    padding: 2rem;
    font-size: 1.4rem;

}

.link-abajo a {
    color: aliceblue;
    float: center;

}